<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi</h1>
    <p>
      <%= link_to "This is your new announcement", "community-grows.herokuapp.com/dashboard/#{announcement.id}/comments" %>
    </p>
  </body>
</html>