<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> Hi Board Members, </p>
    <p>
      <%= @announcement.content %> 
    </p>
  </body>
</html>