<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> Hi Board Members, </p>
    <p>
       A change has been made to this
      <%= link_to "document", "#{@document.url}" %>
    </p>
  </body>
</html>