<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> Hi Board Members, </p>
    <p>
      An event has been updated. <br>
      Event Title:
      <%= "#{@event.title}" %>  <br>
      Event Location:
      <%= "#{@event.location}" %>  <br>
      Event Date:
      <%= "#{@event.date}" %>  <br>
    </p>
  </body>
</html>