/* Place all the styles related to the documents controller here.*/
/* They will automatically be included in application.css.*/
/* You can use Sass (SCSS) here: http://sass-lang.com/*/

/*************/
/*General CSS*/
/*************/

html, body {}

.content {
  margin-top: 51px; /*Size of the navbar*/
}

.content h1 {
  text-align: center;
}

#flashNotice {
  font-size: 1.1em;
  color: red;
}

.bottom-bar {
  text-align: center;
  margin-bottom: 20px;
}

.logo img{
  height: 3em;
}

.center-text {
  text-align: center;
}

.left-text {
  text-align: left;
}

table {
  border-radius: 6px;
  text-align: center;
  border-collapse: initial;
}

table th {
  text-align: center;
}

table th:first-child {
    border-radius: 6px 0 0 0;
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
}

table th:last-child {
    border-radius: 0 6px 0 0;
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
}

table tr:last-child td:first-child {
  border-radius: 0 0 0 6px;
  -moz-border-radius: 0 0 0 6px;
  -webkit-border-radius: 0 0 0 6px;
}

table tr:last-child td:last-child {
  border-radius: 0 0 6px 0;
  -moz-border-radius: 0 0 6px 0;
  -webkit-border-radius: 0 0 6px 0;
}

/*****************/
/* Navbar CSS */
/*****************/

#navbar {
  font-size: 20px;
}

#navbar.navbar-collapse {
  max-height: 370px;
}

/*****************/
/* Dashboard CSS */
/*****************/
#announcements {
    height:70rem;
    text-align:center;
    border-radius: 7px;
    padding: 1px;
    border-style: solid;
    border-color: #4b3603;
}

#accordion {
    /*background-color:#eeeeee;*/
    height:70rem;
    text-align:center;
    border-radius: 7px;
    padding: 1px;
    border-style: solid;
    border-color: #4b3603;
    overflow-y: scroll;
}

/***************/
/*Documents CSS*/
/***************/

.document_content {
  overflow: auto;
  max-width: 100%;
  max-height: 30em;
  font-size: 1em;  
}

/*****************/
/* Committee CSS */
/*****************/



/*****************/
/*    Admin CSS  */
/*****************/

#calendar_html {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 20%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

/*****************/
/*  Comment CSS  */
/*****************/